.tamanhoForm {
    width: 50%;
}

table, th, td {
    border-bottom: 1px solid #CCC;
}

.row {
    margin-right:25px;
}

.columnTable {
    width: 150px;
}

.centerBody {
    margin: 0 auto;
}

.registerContent {
    padding-left: 50px;
    padding-right: 50px;
}

.img_logo {
    width: 60px;
    height: 60px;
    margin-left: 20px;
}