@(locals: List[Local], localForm: Form[Local], user: MainUser)

@import helper._

@main("ADTR Service") {
<div class="card">
    <h5 class="teal-text center light">Adicionar Localidade</h5>


    @form(routes.LocalController.newLocal(user.getId), 'class -> "container center") {
    <div class="row">
        <div class="input-field col s6 center">
            <input type="text" id="userName" name="userName"
                   value="@user.getName" disabled />
            <label for="userName">CLIENTE</label>
        </div>
        <div class="input-field col s6 center">
            <input type="text" id="name" name="name" required
                   value="@localForm.apply("name").value" />
            <label for="name">NOME DO LOCAL</label>
        </div>
        <div class="input-field col s6">
            <select id="type" name="type" required>
                @for(lType <- LocalType.values()){
                <option value="@lType.getEnum(lType.getValue)">
                    @lType.getValue
                </option>
                }
            </select>
            <label>Escolha o tipo de Localidade</label>
        </div>
        <div class="input-field col s6">
            <input type="text" id="cnpj" name="cnpj" required
                   value="@localForm.apply("cnpj").value" />
            <label for="cnpj">CNPJ</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <button class="btn waves-effect waves-light amber" type="reset"
                    name="action">
                Limpar Campos
            </button>
        </div>
        <div class="input-field col s6">
            <button class="btn waves-effect waves-light right" type="submit"
                    name="action">
                Adicionar ao cliente
            </button>
        </div>
    </div>
    }
</div>

<div>
    <table class="striped white">
        <tr>
            <td>
                <center>LOCAIS DO CLIENTE</center>
            </td>
            <td class="columnTable">
                <center>TIPO</center>
            </td>
            <td class="columnTable">
                <center>CHAVE</center>
            </td>
            <td class="columnTable">
                <center>EDITAR</center>
            </td>
            <td class="columnTable">
                <center>DELETAR</center>
            </td>
        </tr>
        @for(local <- locals) {
        <tr>
            <td aling=center>
                <center>
                    @local.getName
                </center>
            </td>
            <td aling=center>
                <center>
                    @local.getType.getValue
                </center>
            </td>
            <td aling=center>
                <center>
                    <a href="@routes.LocalController.homeSendKey(local.getId)">
                        <img src="@routes.Assets.versioned("images/sendKey.png")" style="width:24px; height:24px" />
                    </a>
                </center>
            </td>
            <td aling=center>
                <center>
                    <a href="@routes.LocalController.editLocal(local.getId)">
                        <img src="@routes.Assets.versioned("images/edit.png")" />
                    </a>
                </center>
            </td>
            <td aling=center>
                <center>
                    <a href="@routes.LocalController.deleteLocal(local.getId, user.getId)">
                        <img src="@routes.Assets.versioned("images/delete.png")" />
                    </a>
                </center>
            </td>
        </tr>
        }
    </table>
</div>
}