@(localForm: Form[Local], user: MainUser, id: Long)

@import helper._

@main("ADTR Service") {
<div class="card">
    <h5 class="teal-text center light">Editar Localidade</h5>

    <div class="gray center">
        @tags.globalErrorByFlash()
    </div>

    @form(routes.LocalController.update(id), 'class -> "container") {
    <div class="row">
        <div class="input-field col s6 center">
            <input type="text" id="userName" name="userName"
                   value="@user.getName" disabled />
            <label for="userName">CLIENTE</label>
        </div>
        <div class="input-field col s6 center">
            <input type="text" id="name" name="name" required
                   value="@localForm.apply("name").value" />
            <label for="name">NOME DO LOCAL</label>
        </div>
        <div class="input-field col s6">
            <select id="type" name="type" required>
                @for(lType <- LocalType.values()){
                <option value="@lType.getEnum(lType.getValue)">
                    @lType.getValue
                </option>
                }
            </select>
            <label>Escolha o tipo de Localidade</label>
        </div>
        <div class="input-field col s6">
            <input type="text" id="cnpj" name="cnpj" required
                   value="@localForm.apply("cnpj").value" />
            <label for="cnpj">CNPJ</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <a href="@routes.LocalController.localByUser(user.getId)"
               class="btn waves-effect waves-light amber" type="submit" name="action">
                Voltar
            </a>
        </div>
        <div class="input-field col s6">
            <button class="btn waves-effect waves-light right" type="submit"
                    name="action">
                Alterar
            </button>
        </div>
    </div>
    }
</div>
}