@(localForm: Form[Local], id: Long)

@import helper._

@main("ADTR Service") {

<h5 class="teal-text center light">Enviar Chave</h5>

<div class="container">
    <h6 class="gray-text light">Chave atual: @localForm.apply("key").value</h6>
</div>

<div class="gray center">
    @tags.globalErrorByFlash()
</div>

    @form(routes.LocalController.sendKey(id), 'class -> "container") {
    <div class="row">
        <input id="name" name="name" value="@localForm.apply("name").value" hidden/>
        <input id="type" name="type" value="@localForm.apply("type").value" hidden/>
        <div class="input-field col s6">
            <input type="text" id="key" name="key" value="@localForm.apply("key").value" />
            <label for="key">NOVA CHAVE</label>
        </div>
        <div class="input-field col s6">
            <button class="btn waves-effect waves-light right" type="submit"
                    name="action">
                Enviar nova chave
            </button>
        </div>
    </div>
    }

}