@(userForm: Form[MainUser], id: Long)

@import helper._

@main("ADTR Service") {
<div class="card">
    <h5 class="teal-text center light">Editar Cliente</h5>

    <div class="gray center">
        @tags.globalErrorByFlash()
    </div>

    @form(routes.MainUserController.update(id), 'class -> "container col s12") {
    <div class="row">
        <div class="input-field col s6">
            <input type="text" id="name" name="name" required
                   value="@userForm.apply("name").value" />
            <label for="name">NOME</label>
        </div>
        <div class="input-field col s6">
            <input type="text" id="cpf" name="cpf" maxlength="14"
                   value="@userForm.apply("cpf").value" />
            <label for="cpf">CPF</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input type="text" id="email" name="email" required
                   value="@userForm.apply("email").value" />
            <label for="email">E-MAIL</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <a href="@routes.MainUserController.index()"
               class="btn waves-effect waves-light amber" type="submit" name="action">
                Voltar
            </a>
        </div>
        <div class="input-field col s6">
            <button class="btn waves-effect waves-light right" type="submit" name="action">
                Alterar
            </button>
        </div>
    </div>
    }
</div>
}