@(userForm: Form[MainUser])

@import helper._

@main("ADTR Service") {
<div class="card-panel center">
    <h5 class="teal-text light header">Adicionar Usuário</h5>

    @form(routes.MainUserController.newUser(), 'class -> "col s12") {

    <div class="gray">
        @tags.globalErrorByFlash()
    </div>

    <div class="row registerContent">
        <div class="input-field col s6">
            <input type="text" id="name" name="name" required
                   value="@userForm.apply("name").value" />
            <label for="name">NOME</label>
        </div>
        <div class="input-field col s6">
            <input type="text" id="cpf" name="cpf" maxlength="11"
                   value="@userForm.apply("cpf").value" />
            <label for="cpf">CPF</label>
        </div>
    </div>
    <div class="row registerContent">
        <div class="input-field col s6">
            <input type="text" id="email" name="email" required
                   value="@userForm.apply("email").value" />
            <label for="email">E-MAIL</label>
        </div>
        <div class="input-field col s6">
            <input type="text" id="password" name="password" required
                   value="@userForm.apply("password").value" />
            <label for="password">PRÉ-SENHA</label>
        </div>
    </div>
    <div class="row registerContent">
        <button class="btn waves-effect waves-light right botton " type="submit"
                name="action">
            Criar
        </button>
    </div>
    }
</div>
}