@(users: List[MainUser], userForm: Form[MainUser])

@import helper._

@main("ADTR Service") {
<div class="card">
    <h5 class="teal-text center">Procurar Clientes</h5>
    <div class="col s12">

        @form(routes.MainUserController.findUserByName(), 'class -> "container") {

        <div class="row">
            <div class="valign-wrapper">
                <div class="col s8">
                    <div class="input-field">
                        <input type="text" id="name" name="name" required
                               placeholder="Pesquise um cliente" autofocus
                               value="@userForm.apply(" name").value" />
                    </div>
                </div>
                <div class="col s3">
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Buscar
                    </button>
                </div>
                <div class="col s5">
                    <a href="@routes.MainUserController.homeNewUser()"
                       class="btn waves-effect waves-light teal darken-4" type="submit" name="action">
                        Novo Cliente
                    </a>
                </div>
            </div>
        </div>
        }

    </div>
</div>
<div class="gray">
    @tags.globalErrorByFlash()
</div>
<div>
    <table class="striped white">
        <tr>
            <td>
                <center>NOME</center>
            </td>
            <td class="columnTable">
                <center>VER LOCAIS</center>
            </td>
            <td class="columnTable">
                <center>EDITAR</center>
            </td>
            <td class="columnTable">
                <center>DELETAR</center>
            </td>
        </tr>
        @for(user <- users) {
        <tr>
            <td aling=center>
                <center>@user.getName</center>
            </td>
            <td aling=center>
                <center>
                    <a href="@routes.LocalController.localByUser(user.getId)">
                        <img src="@routes.Assets.versioned("images/view.png")" />
                    </a>

                </center>
            </td>
            <td aling=center>
                <center>
                    <a href="@routes.MainUserController.editUser(user.getId)">
                    <img src="@routes.Assets.versioned("images/edit.png")" />
                    </a>
                </center>
            </td>
            <td aling=center>
                <center>
                    <a href="@routes.MainUserController.deleteUser(user.getId)">
                        <img src="@routes.Assets.versioned("images/delete.png")"
                        />
                    </a>
                </center>
            </td>
        </tr>
        }
    </table>
</div>

}